<div class="modal-header">
    <h4 class="modal-title" jhiTranslate="userManagement.detail.title">Dados do Usuário</h4>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
</div>

<div class="modal-body">
    <div *ngIf="user && userExtra">
        <dl class="row-md jh-entity-details">

            <dt><span jhiTranslate="userManagement.name">Nome</span></dt>
            <dd>{{user.firstName}} {{user.lastName}}</dd>

            <dt><span jhiTranslate="userExtra.cpf">???</span></dt>
            <dd>{{userExtra.cpf}}</dd>

            <dt><span jhiTranslate="userExtra.rg">???</span></dt>
            <dd>{{userExtra.rg}}</dd>

            <dt><span jhiTranslate="userExtra.functionalNumber">???</span></dt>
            <dd>{{userExtra.functionalNumber}}</dd>

            <dt><span jhiTranslate="userManagement.login">Login</span></dt>

            <dd>
                <span>{{user.login}}</span>
                <jhi-boolean [value]="user.activated" [textTrue]="'userManagement.activated' | translate" [textFalse]="'userManagement.deactivated' | translate">
                </jhi-boolean>
            </dd>

            <dt><span jhiTranslate="userManagement.email">Email</span></dt>
            <dd>{{user.email}}</dd>

            <dt><span jhiTranslate="userManagement.createdDate">Created Date</span></dt>
            <dd>{{user.createdDate | date:'dd/MM/yy HH:mm' }}</dd>

            <dt><span jhiTranslate="userManagement.lastModifiedBy">Last Modified By</span></dt>
            <dd>{{user.lastModifiedBy}}</dd>

            <dt><span jhiTranslate="userManagement.lastModifiedDate">Last Modified Date</span></dt>
            <dd>{{user.lastModifiedDate | date:'dd/MM/yy HH:mm'}}</dd>

            <dt><span jhiTranslate="userManagement.profiles">Profiles</span></dt>

            <dd>
                <ul class="list-unstyled">
                    <li *ngFor="let authority of user.authorities">
                        <span class="badge badge-info">{{authority}}</span>
                    </li>
                </ul>
            </dd>
        </dl>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-info" data-dismiss="modal" (click)="clear()">
        <span class="fa fa-times"></span>&nbsp;<span jhiTranslate="entity.action.close">Fechar</span>
    </button>
</div>