<div>
    <h2>
        <span jhiTranslate="buscapdfApp.tipoDocumento.home.title">Tipo de Documentos</span>
        <button class="btn btn-primary float-right jh-create-entity create-tipo-documento" [routerLink]="['/', { outlets: { popup: ['tipo-documento-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="buscapdfApp.tipoDocumento.home.createLabel">
            Novo
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="tipoDocumentos">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><span jhiTranslate="buscapdfApp.tipoDocumento.nome">Nome</span></th>
                    <th><span jhiTranslate="buscapdfApp.tipoDocumento.descricao">Descricao</span></th>
                    <th><span jhiTranslate="buscapdfApp.tipoDocumento.divisaoAnual">Divisao Anual</span></th>
                    <th><span jhiTranslate="buscapdfApp.tipoDocumento.pesquisaAutomatica">Pesquisa Automatica</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tipoDocumento of tipoDocumentos ;trackBy: trackId">
                    <td>{{tipoDocumento.nome}}</td>
                    <td>{{tipoDocumento.descricao}}</td>

                    <td class="text-center">
                        <i *ngIf="tipoDocumento.divisaoAnual; else divisaoAnualElse" class="fa fa-check-square-o fa-lg"></i>
                        <ng-template #divisaoAnualElse><i class="fa fa-square-o fa-lg"></i></ng-template>
                    </td>

                    <td class="text-center">
                        <i *ngIf="tipoDocumento.pesquisaAutomatica; else pesquisaAutomaticaElse" class="fa fa-check-square-o fa-lg"></i>
                        <ng-template #pesquisaAutomaticaElse><i class="fa fa-square-o fa-lg"></i></ng-template>
                    </td>

                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit" [routerLink]="['../tipo-documento', tipoDocumento.id ]" class="btn btn-info">
                                <span class="fa fa-search"></span>
                            </button>
                            <button type="submit" [routerLink]="['/', { outlets: { popup: 'tipo-documento/'+ tipoDocumento.id + '/edit'} }]" replaceUrl="true" queryParamsHandling="merge" class="btn btn-primary">
                                <span class="fa fa-pencil"></span>
                            </button>
                            <button type="submit" [routerLink]="['/', { outlets: { popup: 'tipo-documento/'+ tipoDocumento.id + '/delete'} }]" replaceUrl="true" queryParamsHandling="merge" class="btn btn-danger">
                                <span class="fa fa-remove"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>