<div *ngIf="tipoDocumento">
    <h2><span jhiTranslate="buscapdfApp.tipoDocumento.detail.title">Tipo de Documento</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="buscapdfApp.tipoDocumento.nome">Nome</span></dt>
        <dd>
            <span>{{tipoDocumento.nome}}</span>
        </dd>
        <dt><span jhiTranslate="buscapdfApp.tipoDocumento.descricao">Descricao</span></dt>
        <dd>
            <span>{{tipoDocumento.descricao}}</span>
        </dd>
        <dt><span jhiTranslate="buscapdfApp.tipoDocumento.diretorio">Diretorio</span></dt>
        <dd>
            <span>{{tipoDocumento.diretorio}}</span>
        </dd>

        <dt><span jhiTranslate="buscapdfApp.tipoDocumento.divisaoAnual">Divisao Anual</span></dt>
        <dd *ngIf="tipoDocumento.divisaoAnual; else divisaoAnualElse">
            <i class="fa fa-check-square-o"></i> Sim
        </dd>
        <ng-template #divisaoAnualElse>
            <dd><i class="fa fa-square-o"></i> Não</dd>
        </ng-template>

        <dt><span jhiTranslate="buscapdfApp.tipoDocumento.pesquisaAutomatica">Pesquisa Automatica</span></dt>
        <dd *ngIf="tipoDocumento.pesquisaAutomatica; else pesquisaAutomaticaElse">
            <i class="fa fa-check-square-o"></i> Sim
        </dd>
        <ng-template #pesquisaAutomaticaElse>
            <dd><i class="fa fa-square-o"></i> Não</dd>
        </ng-template>

        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

        <button type="button" [routerLink]="['/', { outlets: { popup: 'tipo-documento/'+ tipoDocumento.id + '/edit'} }]" replaceUrl="true" queryParamsHandling="merge" class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>