<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTipoDocumentoLabel" jhiTranslate="buscapdfApp.tipoDocumento.home.createOrEditLabel">Create or edit a Tipo Documento</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!tipoDocumento.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id" [(ngModel)]="tipoDocumento.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="buscapdfApp.tipoDocumento.nome" for="field_nome">Nome</label>
            <input type="text" class="form-control" name="nome" id="field_nome" [(ngModel)]="tipoDocumento.nome" required maxlength="255" />
            <div [hidden]="!(editForm.controls.nome?.dirty && editForm.controls.nome?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.nome?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger" [hidden]="!editForm.controls.nome?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 255 }">
                   This field cannot be longer than 255 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="buscapdfApp.tipoDocumento.descricao" for="field_descricao">Descricao</label>
            <input type="text" class="form-control" name="descricao" id="field_descricao" [(ngModel)]="tipoDocumento.descricao" required maxlength="255" />
            <div [hidden]="!(editForm.controls.descricao?.dirty && editForm.controls.descricao?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.descricao?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger" [hidden]="!editForm.controls.descricao?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 255 }">
                   This field cannot be longer than 255 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="buscapdfApp.tipoDocumento.diretorio" for="field_diretorio">Diretorio</label>
            <input type="text" class="form-control" name="diretorio" id="field_diretorio" [(ngModel)]="tipoDocumento.diretorio" required maxlength="4096" />
            <div [hidden]="!(editForm.controls.diretorio?.dirty && editForm.controls.diretorio?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.diretorio?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger" [hidden]="!editForm.controls.diretorio?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 4096 }">
                   This field cannot be longer than 4096 characters.
                </small>
            </div>
        </div>
        <div class="form-group">

            <input type="checkbox" class="" name="divisaoAnual" id="field_divisaoAnual" [(ngModel)]="tipoDocumento.divisaoAnual" /> &nbsp;
            <label class="" jhiTranslate="buscapdfApp.tipoDocumento.divisaoAnual" for="field_divisaoAnual">Divisão Anual</label>

            <div [hidden]="!(editForm.controls.divisaoAnual?.dirty && editForm.controls.divisaoAnual?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.divisaoAnual?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">

            <input type="checkbox" class="" name="pesquisaAutomatica" id="field_pesquisaAutomatica" [(ngModel)]="tipoDocumento.pesquisaAutomatica" /> &nbsp;
            <label class="" jhiTranslate="buscapdfApp.tipoDocumento.pesquisaAutomatica" for="field_pesquisaAutomatica">Pesquisa Automatica</label>

            <div [hidden]="!(editForm.controls.pesquisaAutomatica?.dirty && editForm.controls.pesquisaAutomatica?.invalid)">
                <small class="form-text text-danger" [hidden]="!editForm.controls.pesquisaAutomatica?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>