<div class="row justify-content-center">
    <div class="col-md-4 justify-content-center">
        <span class="hipster img-fluid rounded"></span>
    </div>
</div>

<div class="row justify-content-center" [ngSwitch]="isAuthenticated()">

    <div *ngSwitchCase="false" class="justify-content-center">

        <a href="#" (click)="login()" jhiTranslate="global.messages.info.authenticated.link" class="btn btn-light">
            Entrar
        </a>
        <a routerLink="register" jhiTranslate="global.messages.info.register.link" class="btn btn-light">
            Criar uma nova conta
        </a>
    </div>

    <div *ngSwitchCase="true" class="justify-content-center">
        <h4 *ngIf="account" jhiTranslate="home.logged.message" translateValues="{name: '{{account.firstName}}'}" class="">
        </h4>
    </div>

</div>